$font-principal: "Philosopher-bold";
$font-secundaria: "Mulish-regular";

@font-face{
    font-family: $font-principal;
    src: url('../assets/fonts/Philosopher-Bold.ttf');
}
@font-face{
    font-family: $font-secundaria;
    src: url('../assets/fonts/Mulish-Regular.ttf');
}